* {
    font-family: Helvetica, Verdana;
    background-color: beige;
  }
  
  ul {
      max-width: 850px;
      margin: 0 auto 50px auto;
      text-align: left;
      line-height: 1.9;
  }
  
  li {
    font-size: 1.7rem;
  }
  
  h1 {
    font-size: 2.8rem;
    text-align: center;
  }
  
  p {
    font-size: 1.9rem;
    text-align: center;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  #img-caption {
    display: block;
    text-align: center;
    margin: 15px 0 5px 0;
    max-width: 100%;
    font-size: 1.2rem;
  }
  
  a {
    text-align: center;
  }